*.o
/libreac.a
/test_reac
/test_capture
/test_braid
/test_upstream
/test_decode
/test_encode

libreac-*.tar.gz

# build products: the test binaries the Makefile drops in the tree
test_reac
test_capture
test_braid
test_upstream
test_encode
test_decode
test_ports
*.o
*.a
test_facts
*.d
corpus_check
test_ctrl
headamp_trace
wire_census
fake_box
ctrl_delta
upstream_watch
slotmap_watch
seq_gaps

# reac_facts_assert.h generated fresh from a reachable reac-protocol checkout
/build/
test_link
test_identity
test_master_carriers
test_master_capture
test_wire_invariants
test_abi_layout
group_map_scan
test_tap
pace_hist
test_reac_etf
test_reac_etf_qdisc
etf_probe
topo_bind_probe
test_no_getenv_conformance
test_rx_twin
test_sniffer_binds_first
test_reac_knock
test_reac_tapwait
test_box_0832
test_box_table
test_topo_hears_vlans

# the 2026-09-25 review guards (make test)
test_box_width
test_cfg
test_boxreg
test_rate_detect
test_clock
test_identity_cksum
test_decode_plain_le
test_desk_or_box
test_hold
